/* ===== Font Imports ===== */
@font-face {
	font-family: 'Game Of Squids';
	src: url('../../assets/fonts/Game Of Squids.ttf') format('truetype'),
     url('../../assets/fonts/Game Of Squids.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'Montechv';
	src: url('../../assets/fonts/MONTECHV02-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
 /* ===== Global Styles ===== */
body {
	margin: 0;
	padding: 0;
	font-family: 'Montechv', sans-serif;
	/*background-color: #0d0d0d;*/
	color: white;
  }
  
  /* ===== Main Banner Header Styles ===== */
  .main-banner {
	width: 90%;
	margin:  1% auto;
	padding: 40px;
	border: 2px solid #ff0033;
	border-radius: 15px;
	box-shadow: 0 0 20px #ff0033, 0 0 40px #ff0033 inset;
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
  }
  
  .header-box-glitch {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
  }
  
  .logo-left .logo-img {
	height: 70px;
	width: auto;
  }
  
  .button-right .btn-niveles {
	font-family: 'Montechv', sans-serif;
	padding: 10px 20px;
	font-size: 1.5rem;
	color: white;
	text-decoration: none;
	border-radius: 4px;
	transition: background 0.3s ease;
  }
  
  .button-right .btn-niveles:hover {
	background-color: #cc002a;
  }
  
  .glitch {
	position: relative;
	color: white;
	animation: glitch 1s infinite;
  }
  
  @keyframes glitch {
	0% { transform: translate(0); }
	20% { transform: translate(-2px, 2px); }
	40% { transform: translate(-2px, -2px); }
	60% { transform: translate(2px, 2px); }
	80% { transform: translate(2px, -2px); }
	100% { transform: translate(0); }
  }
  
  /* ===== Subheader Simple ===== */
  .subheader {
	background-color: #000;
	text-align: center;
	padding: 12px 0;
	z-index: 1001;	
  }
  
  .subheader p {
	font-family: 'Montechv', sans-serif;
	font-size: 1rem;
	margin: 0;
	color: white;
	font-weight: 600;
	letter-spacing: 0.5px;
  }
  
  /* ===== Hero Banner ===== */
  .hero-banner {
	background: url('../..//assets/images/SLIDER_SQUID.jpg') center center / cover no-repeat; /* Ajusta si es otra imagen */
	min-height: 92vh;
	position: relative;
	
  }

  .hero-banner-puntuacion {
	background: url('../..//assets/images/SLIDER_INTERNO.jpg') center center / cover no-repeat; /* Ajusta si es otra imagen */
	min-height: 70vh;
	position: relative;
	
  }

	  
  .hero-logo {
	display: flex;
    flex-direction: row;
    align-items: flex-end;
    position: absolute;
    bottom: 6%;
    color: white;
    font-family: 'Montechv', sans-serif;
    text-align: center;
    z-index: 2;
    align-content: flex-end;
  }
	  
  .hero-logo.left {
	left: 5%;
  }
	  
  .hero-logo.right {
	right: 5%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }
	  
  .hero-logo img {
	width: 30%;
  }
	  
  .hero-text-left {
	font-size: 1rem;
	max-width: 100%;
	margin-bottom: 3.5%;
  }

  .hero-text-left p {
	margin-top: 10%;
	margin-bottom: 0 !important;
  }
  
  /* ===== Intro Section ===== */
  .intro-section {
	background-color: transparent;
	padding: 5% 20px 0;
	text-align: center;
  }
  
  .intro-container {
	max-width: 60%;
	margin: 0 auto;
  }
  
  .intro-title {
	font-family: 'Game Of Squids', sans-serif;
	font-size: 4.5rem;
	font-weight: bold;
	margin-bottom: 20px;
	color: #D00024;
  }
  
  .intro-text {
	font-family: 'Montechv', sans-serif;
	font-size: 1.2rem;
	line-height: 1.2;
	color: #000;
	margin-bottom: 6%;
  }
  
  .intro-logo img {
	height: 80px;
	width: auto;
  }
  
  /* ===== Info Section ===== */
  .info-section {
	background-color: #0d0d0d;
	color: white;
	margin: 1% 0 5%;
  }
  
  .info-container {
	background: url('../..//assets/images/INSTRUCCIONES_2.jpg') center center / cover no-repeat; /* Ajusta si es otra imagen */
	width: 100%;
	height: 90vh;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	flex-wrap: wrap;
  }

  .info-text {
	flex: 1;
	font-family: 'Montechv', sans-serif;
  }

  .info-text-left {
	flex: 1;
	text-align: left;
	font-family: 'Montechv', sans-serif;
	color: #000;
	padding-left: 10%;
  }
  
  .info-text-left h2 {
	font-family: 'Game Of Squids', sans-serif;
	font-size: 2.8rem;
	margin-bottom: 5%;
	color: #ff0033;
	text-align: left;
  }
  
  .info-text-left p {
	font-size: 1.6rem;
	line-height: 1.4;
	max-width: 38%;
	text-align: left;
  }
  
  .info-text-right {
	flex: 1;
	text-align: right;
	font-family: 'Montechv', sans-serif;
	color: white;
	padding-right: 10%;
  }
  
  .info-text-right h2 {
	font-family: 'Game Of Squids', sans-serif;
	font-size: 2.8rem;
	margin-bottom: 10%;
	color: #ff0033;
	text-align: right;
  }
  
  .info-text-right p {
	font-size: 1.6rem;
	line-height: 1.4;
	padding-left: 62%;
	text-align: right;
	color: #000;
  }
  
  /* ===== Games Section ===== */
  .games-section {
	padding: 50px 0;
  }
  
  .games-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto auto;
	gap: 40px;
	max-width: 70%;
	margin: 0 auto;
	text-align: center;
	align-items: start;
	position: relative;
  }
  
  .game-item {
	background-color: #1a1a1a;
	padding: 0;
	border-radius: 0;
	box-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
	overflow: hidden;
  }
  
  .game-item img {
	width: 100%;
	height: auto;
	display: block;
	border-radius: 0;
  }
  
  .game-caption {
	background-color: #D00024;
	padding: 20px 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	font-family: 'Montechv', sans-serif;
  }
  
  .game-caption h4.game-title {
	margin: 0;
	font-size: 2.3rem;
	color: white;
	font-family: 'Game Of Squids', sans-serif;
	line-height: 1;
  }
  
  .game-caption button {
	padding: 5px 45px;
    background-color: white;
    color: #000;
    border: none;
    border-radius: 6px;
    font-family: 'Montechv', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
	box-shadow: 0 2px 5px 0 rgba(19, 18, 18, 0.5);
  }
  
  .game-caption button:hover {
	background-color: #f5f5f5;
  }
  
  .game-description {
    grid-column: 2;
    font-size: 2rem;
    line-height: 1.6;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
	padding: 35% 12% ;
}
    
  /* ===== Footer ===== */
  .footer {
	background-color: #D00024;
	padding: 0 0 50px;
	text-align: center;
	position: relative;
	z-index: 3;
	margin-top: 0;
  }

  .footer-rounded {
	background-color: #D00024;
	height: 160px;
	border-top-left-radius: 110px;
	border-top-right-radius: 110px;
	margin: 0 auto -60px;
	max-width: 65%;
	position: relative;
	z-index: 3;
	top: 20;
  }
  
  .footer-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	max-width: 70%;
	margin: 0 auto;
  }
  
  .footer-logo img {
	width: 75%;
	height: auto;
	max-width: 100%;
  }

  .footer-logo-lebic img {
	width: 40%;
	height: auto;
	max-width: 100%;
  }
  
  .footer-symbols img {
	width: 45%;
	height: auto;
	margin-bottom: 10px;
  }
  
  .footer-symbols p {
	margin: 0;
	font-size: 1rem;
	color: white;
	font-weight: 600;
	font-family: 'Montechv', sans-serif;}

	/* ===== diseño Pop-up ===== */

	.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../..//assets/images/SLIDER_SQUID.jpg') center center / cover no-repeat;
	display: flex;
	align-items: center;
    justify-content: flex-start;
    z-index: 9999;
    flex-wrap: wrap;
    flex-direction: column;
	padding-top: 1%;
	}
	.logo_lebic{
		width: 60%;
	}

	.modal-content {
	margin-top: 14%;
	background: white;
	color: black;
	padding: 50px 30px;
	border-radius: 12px;
	width: 30%;
	text-align: center;
	}

	.modal-content input {
	display: block;
	width: 100%;
	margin: 10px 0;
	padding: 10px;
	}

	.modal-content button {
	padding: 10px 20px;
	background-color: #D00024;
	color: white;
	border: none;
	cursor: pointer;
	}

	.error {
	color: red;
	font-size: 0.9rem;
	}

	/* ===== fin diseño Pop-up ===== */

	/* ===== Community Area (Ranking) ===== */
	.community-container {
	max-width: 70%;
	margin: 3% auto;
	padding: 20px;
	/*background-color: #1a1a1a;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(255, 0, 51, 0.5);*/
	text-align: center;
	}

	.espacio{
		padding: 2%;
	}

	.community-title {
	font-family: 'Game Of Squids', sans-serif;
	font-size: 4.5rem;
	margin-bottom: 30px;
	color: #ff0033;
	}

	.community-table {
	width: 100%;
	border-collapse: collapse;
	font-family: sans-serif;
	background-color: #111;
	color: white;
	}

	.community-table th,
	.community-table td {
	padding: 1.5rem;
	border: 1px solid #333;
	text-align: center;
	}

	.community-table th {
	background-color: #d00024;
	font-weight: bold;
	font-size: 1.5rem;
	}

	.community-table tr:nth-child(even) {
	background-color: #222;
	}

	.community-table tr:hover {
	background-color: #333;
	}

	.no-data {
	font-family: 'Montechv', sans-serif;
	font-size: 1.5rem;
	color: white;
	background-color: #222;
	padding: 20px;
	border-radius: 8px;
	margin-top: 20px;
	}

	/* ===== Mi Ranking ===== */

	.my-ranking {
	margin: 5% auto 0;
	max-width: 30%;
	text-align: center;
	font-family: 'Montechv', sans-serif;
	}

	.my-ranking table {
	width: 100%;
	border-collapse: collapse;
	background-color: #1a1a1a;
	color: white;
	overflow: hidden;
	}

	.my-ranking th, .my-ranking td {
	padding: 12px;
	border: 1px solid #333;
	}

	.my-ranking th {
	background-color: #d00024;
	font-family:  sans-serif;
	font-size: 1.8rem;
	}

	.my-ranking td {
	font-size: 1.5rem;
	}

	.my-ranking h3 {
	font-size: 1.8rem;
	font-weight: 900;
	text-align: center;
	margin-bottom: 25px;
	font-family: 'Montechv', sans-serif;
	color: #d00024;
	}

	.ranking-user {
	color: #d00024;
	}

	.ranking-score {
	color: #fff;
	font-weight: bold;
	}
	
	/* ========== MEDIA QUERIES RESPONSIVE ========== */

/* Monitores grandes (1800px y más) */
	@media (max-width: 1800px) {
	.main-banner { width: 95%; }
	.intro-container, .footer-container { max-width: 80%; }
	}

/* Pantallas 1500px */
	@media (max-width: 1500px) {
	.intro-title { font-size: 4rem; }
	.game-caption h4.game-title { font-size: 2rem; }
	.game-caption button { font-size: 1.1rem; padding: 5px 30px; }
	}

/* Pantallas 1200px */
	@media (max-width: 1200px) {
	.header-box-glitch { padding: 0 20px; }
	.games-grid { max-width: 90%; }
	.intro-container { max-width: 90%; }
	.footer-rounded { max-width: 80%; }
	.footer-container { max-width: 90%; }
	}

/* Pantallas 992px */
	@media (max-width: 992px) {
	.main-banner {
		flex-direction: column;
		padding: 20px;
	}

	.game-caption {
		flex-direction: column;
		gap: 10px;
	}

	.info-container {
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 5% 10px;
		height: auto;
	}

	.info-text-left,
	.info-text-right {
		padding: 0 5%;
		max-width: 100%;
		text-align: center;
	}

	.info-text-right p,
	.info-text-left p {
		padding: 0;
		font-size: 1.3rem;
	}

	.community-table th,
	.community-table td {
		font-size: 0.9rem;
		padding: 10px;
	}

	.community-title {
		font-size: 1.5rem;
	}
	}

/* Tablets (768px) */
	@media (max-width: 768px) {
	.hero-logo {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.hero-logo img {
		width: 60%;
	}

	.game-caption h4.game-title {
		font-size: 1.6rem;
	}

	.game-caption button {
		font-size: 1rem;
		padding: 8px 20px;
	}

	.games-grid {
	/*	grid-template-columns: 1fr 1fr;*/
	}

	.footer-container {
		flex-direction: column;
		gap: 20px;
	}

	.footer-logo img,
	.footer-logo-lebic img,
	.footer-symbols img {
		width: 60%;
	}

	.footer-symbols p {
		font-size: 0.9rem;
	}
	}

	/* Móviles (576px) */
	@media (max-width: 576px) {
	/*Componente, Header, subheader y herobanner*/
	.header-box-glitch {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  	}

	.header-box-glitch {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	}


	.logo-left .logo-img {
		width: 200px;
		height: auto;
	}

	.subheader p {
		font-size: 0.6rem;
	}

	.button-right .btn-niveles {
		font-size: 0.6rem;
		padding: 6px 6px;
	}


	.button-right {
		display: block;
	}

	.subheader {
		position: relative;
		z-index: 10;
	}

	.main-banner {
    width: 85%;
    margin-top: 20px; /* separa del subheader */
    padding: 3% 1%;
	box-shadow: 0 0 5px #ff0033, 0 0 10px #ff0033 inset;
  	}
	.hero-banner{
	min-height: 70vh;
	}

	.hero-logo {
    flex-direction: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  	}
	.hero-logo.left .hero-logo.right{
		width: 50%;
	}
	.hero-logo.left img,
	.hero-logo.right img {
	width: 150px;
	height: auto;
	}

	.hero-text-left {
	display: none; /* Ocultamos texto si es necesario para móviles */
	}
	/*Fin de media seccion header, subheader y herobanner*/

	/* Responsive PopUp Login */

	.modal-content {
	width: 80%;
	}

	.logo_lebic {
		padding: 3% 0;
		width: 100%;
	}

	.modal-content h2{
		font-size: 1.2rem;
	}

	.modal-content{
		margin-top: 70%;
		background: #ffffffd7;
	}

	/*Fin Responsive PopUp Login*/
	.intro-title {
		font-size: 2.2rem;
	}

	.intro-text {
		font-size: 1.1rem;
	}

	.intro-logo img {
		height: 50px;
		width: auto;
	}

	/* Info.section */
	
	.info-container {
		background: url('../..//assets/images/INSTRUCCIONES_V_MOBILE.2.png') center center / cover no-repeat; /* Ajusta si es otra imagen */
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
    	height: auto;
    	padding: 40px 20px;
    	/*background-position: center top;*/
	}

	.info-text-right{
		margin-top: 60%;
	}

	.info-text-left{
		margin-bottom: 60%;
	}

	.info-text-left,
	.info-text-right {
		flex: none;
		width: 100%;
		padding: 0;
		text-align: center;
	}

	.info-text-left h2,
	.info-text-right h2 {
		font-size: 2.2rem;
        text-align: center;
		line-height: 1.8rem;
	}

	.info-text-left p,
	.info-text-right p {
		max-width: 100%;
		font-size: 0.6rem;
		padding: 0;
		text-align: center;
	}

	/* Fin Inf.section */

	/* Responsive seccion games */

	.games-section {
	padding: 20px 10px;
	}

	.games-grid {
	grid-template-columns: 1fr;
	gap: 20px;
	max-width: 100%;
	margin: 0 auto;
	}

	.game-item {
	width: 100%;
	margin: 0 auto;
	}

	.game-caption {
	flex-direction: row;
	align-items: center;
	text-align: center;
	}

	.game-caption h4.game-title {
	font-size: 1rem;
	margin-bottom: 10px;
	}

	.game-caption button {
	font-size: 1rem;
	padding: 6px 25px;
	}
	
	.game-description {    
		font-size: 1.4rem;
		line-height: 1.6;
		padding: 10% 10%;
	}

	/* Fin Responsive seccion games */

	.community-table th,
	.community-table td {
		font-size: 0.8rem;
		padding: 8px;
	}

	.community-title {
		font-size: 1.8rem;
	}

	.info-text-left h2,
	.info-text-right h2 {
		font-size: 2rem;
	}

	.info-text-left p,
	.info-text-right p {
		font-size: 1.2rem;
	}

	.footer-rounded {
		max-width: 80%;
        border-top-left-radius: 60px;
        border-top-right-radius: 60px;
		margin: 0 auto -100px;
	}

	.footer-logo img, .footer-logo-lebic img, .footer-symbols img {
        width: 40%;
    }

	    .footer-symbols p {
        font-size: 0.6rem;
    }

	.my-ranking {
		max-width: 90%;
	}
	
	.my-ranking h3 {
		font-size: 1.4rem;
	}

	.community-container {
		max-width: 90%;
		margin: 3% auto;
		padding: 20px;
		text-align: center;
	}

	}
  
  /* ===== Fin Media Queries Responsive Global ===== */

  